<header class="header">

  <!-- LOGO -->
  <div class="logo">
    <a href="#">SportZone</a>
  </div>

  <!-- MENU -->
  <nav>
    <ul class="left-sidebar-menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/listofsports">Sports</a></li>
      <li><a routerLink="/aboutus">About us</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/contact">Contact us</a></li>
      @if(user){
     <li>
         <a routerLink="/mybookings">My Bookings</a>
    </li>
      }
    </ul>
  </nav>
  <!-- BUTTONS -->
  <div class="right-sidebar">
    @if (!user) {
      <button class="sidebar-button register-btn"  routerLink="/register">
        Register
      </button>
       <button class="sidebar-button login-btn" routerLink="/login"> Login </button>
    }

    @if (user) {

  <div class="user-menu">

    <button class="user-icon-btn" (click)="toggleDropdown()">
      <i class="fa-solid fa-user-circle"></i>
    </button>

    @if(showDropdown){

      <div class="dropdown-menu">
        <div class="dropdown-header">
          <strong>{{ user.name }}</strong>
          <small>{{ user.email }}</small>
        </div>
        <a routerLink="/profile" (click)="showDropdown=false">
          <i class="fa-solid fa-user"></i>
          My Profile
        </a>
        <a routerLink="/mybookings" (click)="showDropdown=false">
          <i class="fa-solid fa-calendar-check"></i>
          My Bookings
        </a>
        <a routerLink="/events" (click)="showDropdown=false">
          <i class="fa-solid fa-trophy"></i>
          Events
        </a>

        <button (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          Logout
        </button>

      </div>

    }

  </div>

}

  </div>
</header>