<div class="profile-container">

  <!-- Welcome Section -->
  <div class="welcome-card">
    <h1>
      <fa-icon [icon]="faUser"></fa-icon>
      Welcome,
      {{ user?.name || user?.email }}
    </h1>
    <p>
      Track your sports journey and manage your bookings.
    </p>
  </div>
  <!-- Statistics Section -->
  <div class="stats-section">
    <div class="stat-card">
      <h2>{{ totalBookings }}</h2>
      <p>Total Bookings</p>
    </div>
    <div class="stat-card">
      <h2>{{ favoriteSport }}</h2>
      <p>Frequently Booked Sport</p>
    </div>

    <div class="stat-card">
      <h2>
        {{ sports.filter(s => s.bookings > 0).length }}
      </h2>
      <p>Active Sports</p>
    </div>

  </div>
  <!-- Achievements -->
<div class="achievements-section">
  <h2>
    <fa-icon [icon]="faTrophy"></fa-icon>
     Achievements
  </h2>
  <div class="badges-container">
    @for (achievement of achievements; track achievement.title) {
      <div class="badge-card" [class]="achievement.class">
        <fa-icon [icon]="achievement.icon"></fa-icon>
        <span>
          {{ achievement.title }}
        </span>
      </div>
    }
  </div>
</div>

  <!-- Sports Cards -->
  <div class="sports-section">
    @for (sport of sports; track sport.name) {
      <div class="sport-card">
        <h2>{{ sport.name }}</h2>
        <div class="count">
          {{ sport.bookings }}
        </div>
        <p>No. of Bookings</p>
        <button class="booking-btn" (click)="goToBookings()"> View Bookings </button>
      </div>
    }
  </div>
   <button id="backbtn" type="button" routerLink="/home">BackToHome</button>
</div>